
html {
  font-size: 16px;
  color: #464646;
}

body {
  font-family: Montserrat, sans-serif;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 15px 0px 10px 24px;
}


.logo {
  display: flex;
  height: 2rem;
}

.logo img {
  height: 4rem;
}

.logo h1 {
  font-size: 2rem;
  padding-top: .625rem;
  font-family: Ubuntu, sans-serif;
}

.menu a {
  font-family: Helvetica, sans-serif
}

.colmar {
  font-weight: bold;
  color: #4D4D4D
}

.academy {
  color: grey;
}

header .menu {
  display: flex;
}

header .menu a {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  padding-top: .625rem;

}

header .menu a:hover {
  color: grey;
  transition-duration: .2s
   }

.mobilelogo {
  display: none;
}

@media only screen and (max-width: 480px) {
  .logo h1{
    display: none
  }
  header .menu {
    display: none
  }
  .logo {
   width: 100%;
  }
  .mobilelogo {
    display: flex;
  }
  .logo img {
    padding-left: 2rem;
  }
   }

.learn {
  background-color: lightgrey
}

.learn .motto {
  display: flex;
}

.learn img {
  width: 60%;
  height: 60%;
  margin-left: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.learn .learnnew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}

.learnnew h1 {
  font-size: 3.5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.learnnew h2 {
  font-size: 2.25rem;
  padding-bottom: 2rem;
  font-weight: 600;
}

.learnnew a {
  font-size: 2rem;
  color:white;
  background-color: #464646;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
}

.learnnew a:hover {
  background-color: black;
}

@media only screen and (max-width: 480px) {
  .learn .motto {
    display: flex;
    flex-direction: column;
    margin: 0, auto;
    padding: 0, auto;
  }

  .learn .motto img{
    width: 100%;
    margin: 0
  }

  .learn .learnnew {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 4rem;
  }
}

.second {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;

}

.practicing {
  width: 60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.practicing img {
  width: 100%;
}

.practicing h1 {
  font-size: 3.5rem;
  font-weight: 900;
  padding-top: 2rem;
}
.practicing h2 {
  font-size: 1.5rem;
  padding-top: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
}

.practicing h3 {
  font-family: Helvetica, sans-serif;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.right .info {
  display: flex;
  margin-left: 1rem;
}

.ourthing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.lecture {
  background-color: lightgrey
}

.ourthing h1 {
  font-size: 2.25rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.ourthing h2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
  line-height: 2.3rem;
}

.ourthing a {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: #3aaffc;
}

@media only screen and (max-width: 480px) {
  .practicing {
    display: none;
  }

  .right .info {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-bottom: 2rem;
    margin-right: 2rem;

  }

  .right .info img {
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

  }

  .lecture {
    background-color: white;
  }
}

.learning {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #F1F1F1;
}

.learning .title {
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  padding-bottom: 4rem;
}

.learning .courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: static;

}


.learning .courses .class {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
}


.learning .courses .first {
  display: flex;
}


.learning .courses .class:not(:first-child){
  margin-left: 2rem;
}

.learning .courses .second {
  display: flex;
}

.class .text {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.learning .courses .class h1 {
  font-size: 2.25rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.learning .courses .class h2 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #6e6d6c;
}

.learning .courses .class h3 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #6e6d6c;
  padding-top: 1.5rem;
  line-height: 2.5rem;
}

.coursesmobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .learning .courses {
    display: none
  }
  .coursesmobile {
    display: flex;
    flex-direction: column;
  }

  .coursesmobile h1{
    font-size: 2.25rem;
    font-weight: 600;
    padding-bottom: 1rem;
    background-color: lightgrey;
    padding: 2rem 0rem 2rem 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

.thesis .title{
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
}

.thesis .exhibit {
  display: flex;
  justify-content: space-around;
}

.thesis .video {
  width: 60%;
  margin-left: 1.5rem;
}

.thesis .video h1 {
  font-size: 2.25rem;
  font-weight: 600;
  padding-top: 2rem;
}

.thesis .video h2 {
  font-size: 1.5rem;
  padding-top: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
}

.thesis .second {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-left: 2rem;
  width: 40%;
}

.thesis .second .section {
  display: flex;
  padding: 2rem;

}

.thesis .second .section img {
  width: 35%;
  height: 35%;
}

.thesis .second .section .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}

.thesis .second .section h1 {
  font-size: 2.25rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.thesis .second .section h2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
  line-height: 2.3rem;
}

.fisma {
  background-color: lightgrey
}

@media only screen and (max-width: 480px) {
  .thesis .video h1{
    display: none
  }
  .thesis .video h2{
    display: none
  }

  .thesis .second {
    display: none;
  }

  .thesis .video {
    width: 100%;
    height: 100%;
    margin: 0;
    border-top: solid;
    border-color: lightgrey
  }

}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  margin-top: 3rem;
  border-top: solid;
  border-color: lightgrey;
}

footer h1 {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer h2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media only screen and (max-width: 480px) {

  footer {
    margin: 0;
  }

  footer h2 {
    display: none;
  }
}
